$back-header: #9DBEBB;
$text: black;
$back : #D9D9D9;
$back-card: #565264;
$card-plus-indicator: #43BCCD;
$card-minus-indicator: #EA3546;
$button-color: #A6808C;
$button-modal-color: #60AB9A;
$back-modal: #D9D9D9;
$shadow-modal: rgba(3, 25, 38, 0.65);
$card-text-color: #FFFFFF;
$back-input: #F4E9CD;